<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gl.market.model.UserMypageDao">
  	<select id="userOne" parameterType="String" resultType="com.gl.market.model.UserJoinVo">
  	SELECT ID,NAME,PW,PHONE FROM CUSTOMER WHERE ID=#{value}
  	</select>
  	<select id="copList" parameterType="hashmap" resultType="com.gl.market.model.UserCopVo">
  	SELECT CPID,CPNAME,CPDIS,USID,CPDATA FROM (SELECT ROWNUM AS RN, A.* FROM (SELECT CPID,CPNAME,CPDIS,USID,CPDATA FROM COUPON WHERE USID=#{id})A) WHERE RN BETWEEN #{stert} AND #{end} ORDER BY CPID ASC 
  	</select>
  	<select id="mileCk" parameterType="String" resultType="com.gl.market.model.UserJoinVo">
  	SELECT CASH FROM CUSTOMER WHERE ID=#{value}
  	</select>
  	<select id="copCk" parameterType="String" resultType="int">
  	SELECT COUNT(*) AS CNT FROM COUPON WHERE USID=#{value}
  	</select>
  	<update id="userUpdata" parameterType="com.gl.market.model.UserJoinVo">
  	UPDATE CUSTOMER SET PW=#{pw},NAME=#{name},PHONE=#{phone} WHERE ID=#{id}
  	</update>
  	<update id="userDelete" parameterType="String">
  	DELETE FROM CUSTOMER WHERE ID=#{value}
  	</update>
  </mapper>